.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace

.env
.env.*

*.log
error_log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

vendor/
composer.lock

wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backups/

wp-content/themes/*/node_modules/
wp-content/themes/*/dist/
wp-content/themes/*/build/
wp-content/themes/*/.DS_Store
